#land {
    background: url('/img/screenshots/MacOnDesk.jpg') fixed center center no-repeat;
        background-size: cover;
-webkit-background-size: cover;
   -moz-background-size: cover;
     -o-background-size: cover;
    min-height:85vh;
}

.textbackwhite {
    display: inline;
    background: white;
    box-shadow: 10px 0 0 white, -10px 0 0 white;
    font-size: 200%;
}
.textbackwhite strong {
    display: inline;
    background: white;
    box-shadow: 10px 0 0 white, -10px 0 0 white;
    font-size: 150%;
}
.textbackwhite small {
    display: inline;
    background: white;
    box-shadow: 6px 0 0 white, -6px 0 0 white;
    font-size: 50%;
}
#play-button {
    color: #fff;
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    opacity: .50;
}
#play-button:hover {
    opacity: 1
}
.strike {
    text-decoration: line-through;
}
.center {
    margin: 0 auto;
}