section.slide {
    min-height: 100%;
    width: 100%;
}

#pricing {
    padding-top: 25%;
}

footer.home-footer {
    background: #000;
}

footer.home-footer p {
    color: #fff;
}

.a-unstyled { color: inherit; }
.a-unstyled:link { color: inherit; }
.a-unstyled:visited { color: inherit; }
.a-unstyled:hover { color: inherit; }
.a-unstyled:active { color: inherit; }

.navbar-inverse .a-unstyled { color: inherit; }
.navbar-inverse .a-unstyled:link { color: inherit; }
.navbar-inverse .a-unstyled:visited { color: inherit; }
.navbar-inverse .a-unstyled:hover { color: inherit; }
.navbar-inverse .a-unstyled:active { color: inherit; }

@media screen and (min-width: 768px) {
    body {
        padding-top: 100px;
    }
    #dictionary {
        position:absolute;
        padding-top:300px;
    }
    #dictionary.fixed {
        position:fixed;
        padding-top:50px;
    }
    .navbar .container {
        padding-bottom: 50px;
    }
    section.slide#slide1 {
        background: url('/img/screenshots/MacOnDesk.png') fixed center center no-repeat;
        background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
    }

    section.slide#slide3 {
        background: url('/img/screenshots/iPhoneInHand.png') fixed center center no-repeat;
        background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
    }
    #fly-card-container{
        padding-top:500px;
    }
    .fly-card {
        padding-top:100%;
    }
}
@media screen and (max-width: 768px) {
    body {
        padding-top:60px;
    }
    .fly-card {
        padding-top:50%;
    }
}

.pad-10t {
    padding-top: 10px;
}

.pad-50t {
    padding-top: 50px;
}

.pad-40t {
    padding-top: 40px;
}

#confirm-popover {
    position: absolute;
    top: 50px;
    z-index: 3;
    display: block;
}

.signup {
    padding-bottom: 500px;
}
.complete {
    opacity: .5;
    text-decoration: line-through;
}
.konami {
    font-family: 'Comic Sans MS' !important;
    background-color: #FFF !important;
}
.action:hover {
    color: dimgrey;
    cursor: pointer;
}
.bold {
    font-size: 110%;
    font-weight: bolder;
}
#settings-main {
    border-left: 1px solid #DEDEDE;
}

#hwpreview {
    background-color: white;
    position: absolute;
    z-index: 2;
    border: solid 1px #EBEBEB;
}