body {
    padding-top: 100px;
}
a {
    color: #cd4165;
}

h1 {
    color: #0D0406;
}
h2 {
    color: #0D0406;
}
h3 {
    color: #0D0406;
}
h4 {
    color: #0D0406;
}
h5 {
    color: #0D0406;
}

@media screen and (min-width: 768px) {
    .navbar .container {
        padding-bottom: 50px;
    }
    #landing{
        height:auto;
        background: url("/img/desk.jpeg") fixed;
    }
    #landing .container {
        padding-top: 20px;
        padding-bottom: 15%;
    }
    #features .container {
        padding-top: 20px;
    }
    #features .feature {
        padding-left: 10px;
    }
    #pricing{
        padding-top: 150px;
    }
    #signup-build-up{
        padding-top: 100px;
    }
    #signup {
        padding-top: 150px;
    }
}
.pad-100 {
    padding: 100px, 100px, 100px, 100px;
}

.pad-100b {
    padding-bottom: 100px;
}

.pad-100t {
    padding-top: 100px;
}

.pad-50t {
    padding-top: 50px;
}

.pad-10t {
    padding-top: 10px;
}
.signup {
    padding-bottom: 500px;
}
.complete {
    opacity: .5;
    text-decoration: line-through;
}
