section.slide {
    min-height: 100%;
    width: 100%;
}

#dictionary {
    padding-top:50px;
    position: fixed;
}

.fly-card {
    padding-top:100%;
}

#pricing {
    padding-top: 25%;
}

footer {
    background: #000;
}

footer p {
    color: #fff;
}

section.slide#slide1 {
    background: url('/img/screenshots/MacOnDesk.png') fixed center center no-repeat;
    background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
}

section.slide#slide3 {
    background: url('/img/screenshots/iPhoneInHand.png') fixed center center no-repeat;
    background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
}

@media screen and (min-width: 768px) {
    body {
        padding-top: 100px;
    }
    .navbar .container {
        padding-bottom: 50px;
    }
}
@media screen and (max-width: 768px) {
    section.slide#slide1 {
        background: url('/img/screenshots/small/iPhoneOnDesk.png') fixed center no-repeat;
        background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
    }  
    body {
        padding-top:60px;
    }
}

.pad-10t {
    padding-top: 10px;
}

.pad-50t {
    padding-top: 50px;
}

.signup {
    padding-bottom: 500px;
}
.complete {
    opacity: .5;
    text-decoration: line-through;
}
.konami {
    font-family: 'Comic Sans MS' !important;
    background-color: #FFF !important;
}
.action:hover {
    color: dimgrey;
    cursor: pointer;
}
.bold {
    font-size: 110%;
    font-weight: bolder;
}