<!DOCTYPE html>
<html ng-app="PlanHW">
    <head>
        <meta charset="UTF-8">
        <title>PlanHW • Your new Homework Planner!</title>
        <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/css/theme.min.css"/>
        <link rel="stylesheet" href="/bower_components/angular-bootstrap-datetimepicker/src/css/datetimepicker.css"/>
        <link rel="stylesheet" href="/css/PlanHW.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body id="skrollr-body">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <div class="logo hidden-xs">
                        <a href="/#/" class="navbar-brand">
                            <img src="img/PlanHWtrans.png" height="75px">
                        </a>
                    </div>
                    <div class="visible-xs">
                        <a href="/#/">
                            <h1 class="text-center">PlanHW</h1>
                        </a>
                    </div>
                    <button type="button" class="btn btn-default navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <ul class="nav navbar-nav navbar-right collapse navbar-collapse nav-list">
                    <li ng-hide="student_token"><a href="#/signup">Sign Up</a></li>
                    <li ng-hide="student_token"><a href="#/signin" onclick="event.preventDefault();" data-toggle="modal" data-target="#signin-popup">Sign In</a></li>
                    <li ng-show="student_token"><a href="#/homework">Homework</a></li>
                    <li ng-show="student">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-expanded="false">
                            {{student.username}} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ng-href="#/profile/{{student_id}}">Profile</a></li>
                            <li role="presentation" class="divider"></li>
                            <li><a ng-click="signout()" href="#/">Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container" ng-show="flashesNow[0]">
            <div ng-repeat="flash in flashesNow">
                <div class="alert alert-{{flash.class}} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{flash.message}}
                </div>
            </div>
        </div>
        <div ng-view autoscroll="true"></div>
        
        <!-- Sign in -->
        <div class="modal fade" id="signin-popup" tabindex="-1" role="dialog" aria-labelledby="Sign In" aria-hidden="true" ng-controller="SigninCtrl">
              <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title" id="myModalLabel">Sign in</h3>
                    </div>
                    <form id="signupForm" name="signupForm" novalidate ng-submit="signin(username,password)">
                        <div class="modal-body">
                            <div class="alert alert-danger alert-dismissible" role="alert" ng-show="signinError">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{signinError}}
                            </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="email-addon"><i class="fa fa-user fa-fw"></i></span>
                                            <input class="form-control" type="text" ng-model="username" placeholder="Username"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="lock-addon"><i class="fa fa-lock fa-fw"></i></span>
                                            <input class="form-control" type="password" ng-model="password" placeholder="Password"/>
                                        </div>
                                    </div>

                                </div>

                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <input type="submit" value="Sign In" class="btn btn-success">
                        </div>
                    </form>
                </div>
              </div>
        </div>
        
        
        <!-- Frameworks -->
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/angular/angular.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- Libraries and Plugins -->
        <script src="/bower_components/moment/min/moment.min.js"></script>
        <script src="/bower_components/blueimp-md5/js/md5.min.js"></script>
        <script src="/bower_components/chrono/chrono.min.js"></script>
        <script src="/bower_components/angular-route/angular-route.js"></script>
        <script type="text/javascript" src="/bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
        <!-- Custom -->
        <script src="/js/PlanHW.js"></script>
    </body>
</html>