<div class="modal fade" id="signin-popup" aria-labelledby="signin-label" aria-hidden="true" data-keyboard="false">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="signin-label">Sign in</h3>
                <div ng-show="flashesNow[0]">
                    <div ng-repeat="flash in flashesNow">
                        <div class="alert alert-{{flash.class}} alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
                            {{flash.message}}
                        </div>
                    </div>
                </div>
            </div>
            <form id="signupForm" name="signupForm" novalidate ng-submit="signin(remember)">
                <div class="modal-body">
                    <div class="alert alert-danger" role="alert" ng-show="signinError">
                        {{signinError}}
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon" id="email-addon"><i class="fa fa-user fa-fw"></i></span>
                                <input class="form-control" type="text" ng-model="username" placeholder="Username"/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon" id="lock-addon"><i class="fa fa-lock fa-fw"></i></span>
                                <input class="form-control" type="password" ng-model="password" placeholder="Password"/>
                            </div>
                        </div>
                        <div class="col-xs-12" ng-show="tokenlogin">
                            <div class="input-group">
                                <input class="form-control" ng-model="token" placeholder="Access Token"/>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="signinToken(token)" class="btn btn-info">
                                        Login
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-offset-3 col-sm-6 pad-10t" ng-show="showotp">
                            <div class="input-group">
                                <span class="input-group-addon" id="lock-addon"><i class="fa fa-clock-o fa-fw"></i></span>
                                <input class="form-control" type="number" ng-model="otp" placeholder="One Time Passcode"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="pull-left">
                        <ul class="list-unstyled text-center"> 
                            <li><a href="/forgotpass">Forgot?</a></li>
                            <li><a ng-click="tokenlogin=true" ng-hide="tokenlogin">Token Login</a></li>
                        </ul>
                    </div>
                    <div class="pull-right">
                        <label>Remember?</label>
                        <input type="checkbox" ng-model="remember">
                    </div>
                    <p class="text-center"><a ng-href="{{gsigninURL}}"><i class="fa fa-google-plus-square"></i></a></p>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" value="Sign In" class="btn btn-success">
                </div>
            </form>
        </div>
      </div>
</div>