<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h1>Homework:</h1>
        </div>
        <div class="col-md-4 pad-10t col-md-offset-4 col-sm-6 col-sm-offset-2">
            <div ng-show="cards" class="btn-group" role="group">
              <button type="button" class="btn btn-default" ng-click="reload()"><i class="fa fa-refresh"></i> Refresh</button>
              <div class="btn-group" role="group">
                <button class="btn btn-default dropdown-toggle" type="button" id="showDropdown" data-toggle="dropdown" aria-expanded="true  ">
                    Show<span ng-show="showing">ing {{showing}}</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="showDropdown">
                    <li role="presentation" class="dropdown-header">Homework:</li>
                    <li class="action" role="presentation"><a ng-click="show('incomplete')" role="menuitem" tabindex="-1">Incomplete</a></li>
                    <li class="action" role="presentation"><a ng-click="show('complete')" role="menuitem" tabindex="-1">Complete</a></li>
                    <li class="action" role="presentation"><a ng-click="show('all')" role="menuitem" tabindex="-1">All</a></li>
                </ul>
              </div>
              <div class="btn-group hidden-xs" role="group">
                <button class="btn btn-default dropdown-toggle" type="button" id="showDropdown" data-toggle="dropdown" aria-expanded="true  ">
                    {{view}} View <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="showDropdown">
                    <li role="presentation"><a class="action" ng-click="chooseView('Cards')">Cards</a></li>
                    <li role="presentation"><a class="action" ng-click="chooseView('List')">List</a></li>
                </ul>
              </div>
            </div>
            <form id="homework" ng-submit="new(homework)">
                <div class="panel panel-default">
                    <div class="panel-heading input-group">
                        <input type="text" class="form-control" ng-model="homework.input" ng-change="input(homework)" placeholder="New Homework..." id="homework_input">
                        <span class="input-group-btn">
                            <input type="submit" value="Create" class="btn btn-default">
                            <button ng-show="homework.input" type="button" ng-click="showShare = !showShare" class="btn btn-info">
                                <i class="fa fa-share-square-o"></i>
                            </button>
                        </span>
                        <div ng-show="showShare">
                            <div class="popover bottom" id="share-popover">
                                <div class="arrow"></div>
                                <h3>Share:</h3>
                                <div ng-show="student.pro">
                                    <p class="lead">Share homework with your friends!</p>
                                    <div ng-repeat="friend in student.friends" class="back-action" ng-click="share(homework,friend)">
                                        <hr>
                                        <div>
                                            <img class="pull-left pad-25r" ng-src="{{friend.avatar.size50}}">
                                            <div class="pull-right" ng-show="friend.sent_homework">
                                                <i class="fa fa-check fa-3x"></i>
                                            </div>
                                            <p class="bold bigger"> {{friend.name}}</p>
                                            <p>({{friend.username}})</p>
                                        </div>
                                    </div>
                                </div>
                                <div ng-hide="student.pro">
                                    <p class="col-md-10 col-md-offset-1">Hey {{student.name}}! It looks like you might want to share this assisment with your friends on PlanHW. Although sharing assignments is a pro-only feature, you can get it <a href="#/settings">here</a> for less then $1.25 with the coupon "friends".</p>
                                </div>
                            </div>
                        </div>
                        <div ng-show="suggestShareFriend">
                            <div class="popover left" id="share-suggest-popover">
                                <div class="arrow"></div>
                                <h3>Share:</h3>
                                <div ng-show="student.pro">
                                    <p class="lead">Want to share this with...</p>
                                    <hr>
                                    <div class="action" ng-click="share(homework,suggestShareFriend)">
                                        <img class="pull-left pad-25r" ng-src="{{suggestShareFriend.avatar.size50}}">
                                        <p class="bold bigger"> {{suggestShareFriend.name}}</p>
                                        <p>({{suggestShareFriend.username}})</p>
                                    </div>
                                </div>
                                <div ng-hide="student.pro">
                                    <p class="col-md-10 col-md-offset-1">Hey {{student.name}}! It looks like you might want to share this assisment with {{suggestShareFriend.name}}. Although sharing assignments is a pro-only feature, you can get it <a href="#/settings">here</a> for less then $1.25 with the coupon "friends".</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body" ng-show="homework.input" id="hwpreview">
                        <h3 id="homework_title">{{homework.title}}</h3>
                        <p ng-bind-html="marked(homework.description)"></p>
                        <div class="col-xs-12">
                            <div class="dropdown" id="homework_due">
                                <a class="dropdown-toggle my-toggle-select" id="dLabel" role="button" data-toggle="dropdown" data-target="#">
                                    <div class="input-group">
                                        <input type="text" class="form-control action" data-ng-model="homework.due_date">
                                        <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="homework.due_date" data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }"></datetimepicker>
                                </ul>
                            </div>
                        </div>
                        <label>Description</label>
                        <textarea class="form-control" ng-model="homework.description"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div ng-show="cards">
        <div ng-repeat="homework in hw">
            <div class="col-md-4 col-sm-6 col-xs-12" ng-show="homework.show">
                <div class="panel panel-default" ng-class="{'complete': homework.homework.completed}">
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-left">
                                <a class="action" ng-click="complete(homework)">
                                    <i ng-show="homework.homework.completed" class="fa fa-check-square-o fa-3x fa-fw"></i>
                                    <i ng-hide="homework.homework.completed" class="fa fa-square-o fa-3x fa-fw"></i>
                                    <span class="sr-only">Toggle Complete</span>
                                </a>
                            </div>
                            <div class="media-body" ng-click="homework.editing = true">
                                <div ng-hide="homework.editing">
                                    <h3 class="media-heading">{{homework.homework.title}}</h3>
                                    <p ng-bind-html="homework.descHTML"></p>
                                </div>
                                <div ng-show="homework.editing">
                                    <input type="text" class="form-control" ng-model="homework.homework.title">
                                    <div class="panel-body">
                                        <label>Description</label>
                                        <textarea class="form-control" ng-model="homework.homework.description"/>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <p align="center">Due: <strong>{{homework.due_date}}</strong></p>
                        </div>
                        <div align="right">
                            <i class="fa fa-pencil fa-lg action" ng-click="homework.editing = true" ng-hide="homework.editing"></i>
                            <i class="fa fa-trash-o fa-lg action" ng-click="delete(homework)"></i>
                            <i class="fa fa-check fa-lg action" ng-click="update(homework)" ng-show="homework.editing"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div ng-show="list">
        <div>
            <div class="col-md-2 col-sm-3 col-offset-1 col-xs-12">
                <div class="hidden-xs">
                    <button type="button" class="btn btn-default col-xs-12" ng-click="reload()">
                        <i class="fa fa-refresh"></i> Refresh
                    </button>
                    <ul class="nav nav-pills nav-stacked text-center">
                        <hr>
                        <li role="presentation"><p class="bold">Show:</p></li>
                        <li class="action" ng-class="{active: showAll}" role="presentation">
                            <a ng-click="show('all')" role="menuitem" tabindex="-1">All</a>
                        </li>
                        <li class="action" ng-class="{active: showIncomplete}" role="presentation">
                            <a ng-click="show('incomplete')" role="menuitem" tabindex="-1">Incomplete</a>
                        </li>
                        <li class="action" ng-class="{active: showComplete}" role="presentation">
                            <a ng-click="show('complete')" role="menuitem" tabindex="-1">Complete</a>
                        </li>

                        <hr>
                        <li role="presentation"><p class="bold">View as:</p></li>
                        <li role="presentation"><a class="action" ng-click="chooseView('Cards')">Cards</a></li>
                        <li role="presentation" class="active"><a>List</a></li>
                        <hr>
                    </ul>
                </div>
            </div>
            <div class="col-sm-8 col-md-offset-1">
            <div ng-repeat="homework in hw" ng-show="homework.show" ng-class="{'complete': homework.homework.completed}">
                <div class="media">
                    <div class="media-left">
                        <a class="action" ng-click="complete(homework)">
                            <i ng-show="homework.homework.completed" class="fa fa-check-square-o fa-2x fa-fw"></i>
                            <i ng-hide="homework.homework.completed" class="fa fa-square-o fa-2x fa-fw"></i>
                            <span class="sr-only">Toggle Complete</span>
                        </a>
                    </div>
                    <div class="media-body" ng-click="homework.editing = true">
                        <div class="col-md-7">
                            <div ng-hide="homework.editing">
                                <p class="bold">{{homework.homework.title}}</p>
                                <p ng-bind-html="homework.descHTML"></p>
                            </div>
                            <div ng-show="homework.editing">
                                <input type="text" class="form-control" ng-model="homework.homework.title">
                                <div class="panel-body">
                                    <label>Description</label>
                                    <textarea class="form-control" ng-model="homework.homework.description"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="pull-right">
                                <i class="fa fa-pencil fa-lg action" ng-click="homework.editing = true" ng-hide="homework.editing"></i>
                                <br>
                                <i class="fa fa-trash-o fa-lg action" ng-click="delete(homework)"></i>
                                <br>
                                <i class="fa fa-check fa-lg action" ng-click="update(homework)" ng-show="homework.editing"></i>
                            </div>
                            <br>
                            <br>
                            <div class="pull-right">
                                <p>Due: <strong>{{homework.due_date}}</strong></p>
                            </div>
                        </div>
                    </div>
                </div> 
                <hr>
            </div>
        </div>
        </div>
    </div>
    
    <div ng-hide="hw[0].show || !loaded" class="col-md-4 col-md-offset-4">
        <div class="panel panel-success">
            <h3 class="panel-heading">You are done!</h3>
            <div class="panel-body">
                <p>Great job, {{student.name}}! You finished all your homework here, now go do things and be awesome!</p>
            </div>
        </div>
    </div>
</div>