<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div>
                <h1>Homework:</h1>
            </div>
        </div>
        <div class="col-md-4 pad-10t col-md-offset-4 col-sm-6 col-sm-offset-2">
            <form id="homework" ng-submit="new(homework)">
                <div class="panel panel-default">
                    <div class="panel-heading input-group">
                        <input type="text" class="form-control" ng-model="homework.input" ng-change="input(homework)" placeholder="New Homework..." id="homework_input" autocomplete='off'>
                        <span class="input-group-btn">
                            <input type="submit" value="Create" class="btn btn-default">
                            <button ng-show="homework.input" type="button" ng-click="showShare = !showShare" class="btn btn-info">
                                <i class="fa fa-share-square-o"></i>
                            </button>
                        </span>
                        <div ng-show="showShare">
                            <div class="popover bottom" id="share-popover">
                                <div class="arrow"></div>
                                <h3>Share:</h3>
                                <div ng-show="student.pro">
                                    <p class="lead">Share homework with your friends!</p>
                                    <div ng-repeat="friend in student.friends" class="back-action" ng-click="share(homework,friend)">
                                        <hr>
                                        <div>
                                            <img class="pull-left pad-25r" ng-src="{{friend.avatar(50)}}">
                                            <div class="pull-right" ng-show="friend.sent_homework">
                                                <i class="fa fa-check fa-3x"></i>
                                            </div>
                                            <p class="bold bigger"> {{friend.name}}</p>
                                            <p>({{friend.username}})</p>
                                        </div>
                                    </div>
                                </div>
                                <div ng-hide="student.pro">
                                    <p class="col-md-10 col-md-offset-1">Hey {{student.name}}! It looks like you might want to share this assisment with your friends on PlanHW. Although sharing assignments is a pro-only feature, you can get it <a href="/settings">here</a> for only $3 a month.</p>
                                </div>
                            </div>
                        </div>
                        <div ng-show="suggestShareFriend">
                            <div class="popover left" id="share-suggest-popover">
                                <div class="arrow"></div>
                                <h3>Share:</h3>
                                <div ng-show="student.pro">
                                    <p class="lead">Want to share this with...</p>
                                    <hr>
                                    <div class="action" ng-click="share(homework,suggestShareFriend)">
                                        <img class="pull-left pad-25r" ng-src="{{suggestShareFriend.avatar(50)}}">
                                        <p class="bold bigger"> {{suggestShareFriend.name}}</p>
                                        <p>({{suggestShareFriend.username}})</p>
                                    </div>
                                </div>
                                <div ng-hide="student.pro">
                                    <p class="col-md-10 col-md-offset-1">Hey {{student.name}}! It looks like you might want to share this assisment with your friends on PlanHW. Although sharing assignments is a pro-only feature, you can get it <a href="/settings">here</a> for only $3 a month.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body" ng-show="homework.input" id="hwpreview">
                        <h3 id="homework_title">{{homework.title}}</h3>
                        <p ng-bind-html="homework.descHTML"></p>
                        <div class="col-xs-12">
                            <div class="dropdown" id="homework_due">
                                <a class="dropdown-toggle my-toggle-select" id="dLabel" role="button" data-toggle="dropdown" data-target="#">
                                    <div class="input-group">
                                        <input type="text" class="form-control action" data-ng-model="homework.dueDate">
                                        <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="homework.dueDate" data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }"></datetimepicker>
                                </ul>
                            </div>
                            <div ng-init="homework.estimated_time.full = false" ng-show="student.pro">
                                <div ng-class="{'col-xs-5': homework.estimated_time.full, 'col-md-12': !homework.estimated_time.full}">
                                    <input type="text" class="form-control" ng-click="homework.estimated_time.full = true" ng-model="homework.estimated_time_min"
                                           placeholder="{{homework.estimated_time.full? 'Minutes' : 'Auto Estimate Time'}}">
                                </div>
                                <p class="col-xs-1 text-center pad-10t" ng-show="homework.estimated_time.full">:</p>
                                <div class="col-xs-5" ng-show="homework.estimated_time.full">
                                    <input type="text" class="form-control" ng-model="homework.estimated_time_sec" placeholder="Seconds">
                                </div>
                            </div>
                        </div>
                        <label>Description</label>
                        <textarea class="form-control" ng-model="homework.description" ng-change="homework.updateDescription()"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div id="hw_menu" class="col-md-2 col-sm-3 col-offset-1 col-xs-12">
            <div class="hidden-xs">
                <div ng-show="student.timeLeft.minutes">
                    <p class="text-center pad-10t">
                        <span ng-show="student.pro">
                            You have {{student.timeLeft.minutes}}min, {{student.timeLeft.seconds}}sec of homework left.
                        </span>
                        <span ng-hide="student.pro">
                            Get pro to keep track <br>
                            of the time homework <br>
                            you have will take.
                        </span>
                    </p>
                    <hr>
                </div>
                <button type="button" class="btn btn-default col-xs-12" ng-click="reload()">
                    <i class="fa fa-refresh"></i> Refresh
                </button>
                <ul class="nav nav-pills nav-stacked text-center">
                    <hr>
                    <li role="presentation"><p class="bold">Show:</p></li>
                    <li class="action" ng-class="{active: (showIncomplete && showComplete)}" role="presentation">
                        <a ng-click="show('all')" role="menuitem" tabindex="-1">All</a>
                    </li>
                    <li class="action" ng-class="{active: (showIncomplete && !showComplete)}" role="presentation">
                        <a ng-click="show('incomplete')" role="menuitem" tabindex="-1">Incomplete</a>
                    </li>
                    <li class="action" ng-class="{active: (!showIncomplete && showComplete)}" role="presentation">
                        <a ng-click="show('complete')" role="menuitem" tabindex="-1">Complete</a>
                    </li>
                </ul>
                <ul class="nav nav-pills nav-stacked text-center">
                    <hr>
                    <li role="presentation"><p class="bold">View:</p></li>
                    <li class="action" ng-class="{active: student.View == 'list'}" ng-click="student.View = 'list'" role="presentation">
                        <a ng-click="show('all')" role="menuitem" tabindex="-1">List</a>
                    </li>
                    <li class="action" ng-class="{active: student.View == 'week'}" ng-click="student.View = 'week'" role="presentation">
                        <a ng-click="show('incomplete')" role="menuitem" tabindex="-1">Week</a>
                    </li>
                </ul>
            </div>
        </div>

         <div ng-show="student.doneWithHomework" class="ng-cloak col-md-5 col-md-offset-1">
            <div class="panel panel-success">
                <h3 class="panel-heading">You Are Done!</h3>
                <p class="panel-body">
                    Great job, {{student.name}}! You just finished all of your homework - now you can go do things and be awesome. <br>
                    Why not try {{action}}? <i class="fa fa-refresh action" ng-click="newAction()"></i>
                </p>
            </div>
        </div>

        <div ng-show="student.reward" id="reward-wrapper" ng-click="student.reward = null" class="col-md-4 col-md-offset-5 col-sm-8 col-sm-offset-2">
            <div class="panel panel-success">
                <h3 class="panel-heading"><i class="fa fa-gift"></i> You earned a reward!</h3>
                <div class="panel-body" id="reward"></div>
            </div>
        </div>

        <div class="col-sm-8 col-md-offset-1 col-xs-12 homework-view-container" ng-class="[showComplete, {'onlyIncomplete': !showComplete && showIncomplete}]">
            <div id="hw-list" ng-show="student.View == 'list'">
                <homework ng-repeat="homework in student.homework track by $index"></homework>
            </div>
            <div id="hw-week" ng-show="student.View == 'week'" class="row">
                <div class="row">
                    <div class="pull-right">
                        <p class="row text-center">
                        </p>
                        <div class="row btn-group pull-right" role="group">
                            <button class="btn btn-default" ng-click="student.setWeek(-1)"><i class="fa fa-chevron-left"></i></button>
                            <button class="btn btn-default">
                                <span ng-show="student._week > 0">{{student._week}} weeks from now</span>
                                <span ng-show="student._week == 0">This Week</span>
                                <span ng-show="student._week < 0">{{student._week * -1}} weeks ago</span>
                            </button>
                            <button class="btn btn-default" ng-click="student.setWeek(1)"><i class="fa fa-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
                <div ng-repeat="week in [student.weekLeft, student.weekRight] track by $index">
                    <div ng-repeat="day in week track by $index" class="col-md-6">
                        <div class="panel" ng-class="{'panel-success': day.isToday, 'panel-default': !day.isToday}">
                            <h5 class="text-center panel-heading">{{day.day.weekday}}</h5>
                            <div class="panel-body">
                                <homework ng-repeat="homework in day.homework track by $index"></homework>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
