<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h1>Homework:</h1>
        </div>
        <div class="col-md-4 pad-10t col-md-offset-4 col-sm-6 col-sm-offset-2">
            <form id="homework" ng-submit="new(homework)">
                <div class="panel panel-default">
                    <div class="panel-heading input-group">
                        <input type="text" class="form-control" ng-model="homework.input" ng-change="input(homework)" placeholder="New Homework..." id="homework_input">
                        <span class="input-group-btn">
                            <input type="submit" value="Create" class="btn btn-default">
                            <button ng-show="homework.input" type="button" ng-click="showShare = !showShare" class="btn btn-info">
                                <i class="fa fa-share-square-o"></i>
                            </button>
                        </span>
                        <div ng-show="showShare">
                            <div class="popover bottom" id="share-popover">
                                <div class="arrow"></div>
                                <h3>Share:</h3>
                                <div ng-show="student.pro">
                                    <p class="lead">Share homework with your friends!</p>
                                    <div ng-repeat="friend in student.friends" class="back-action" ng-click="share(homework,friend)">
                                        <hr>
                                        <div>
                                            <img class="pull-left pad-25r" ng-src="{{friend.avatar.size50}}">
                                            <div class="pull-right" ng-show="friend.sent_homework">
                                                <i class="fa fa-check fa-3x"></i>
                                            </div>
                                            <p class="bold bigger"> {{friend.name}}</p>
                                            <p>({{friend.username}})</p>
                                        </div>
                                    </div>
                                </div>
                                <div ng-hide="student.pro">
                                    <p class="col-md-10 col-md-offset-1">Hey {{student.name}}! It looks like you might want to share this assisment with your friends on PlanHW. Although sharing assignments is a pro-only feature, you can get it <a href="#/settings">here</a> for only $3 a month.</p>
                                </div>
                            </div>
                        </div>
                        <div ng-show="suggestShareFriend">
                            <div class="popover left" id="share-suggest-popover">
                                <div class="arrow"></div>
                                <h3>Share:</h3>
                                <div ng-show="student.pro">
                                    <p class="lead">Want to share this with...</p>
                                    <hr>
                                    <div class="action" ng-click="share(homework,suggestShareFriend)">
                                        <img class="pull-left pad-25r" ng-src="{{suggestShareFriend.avatar(50)}}">
                                        <p class="bold bigger"> {{suggestShareFriend.name}}</p>
                                        <p>({{suggestShareFriend.username}})</p>
                                    </div>
                                </div>
                                <div ng-hide="student.pro">
                                    <p class="col-md-10 col-md-offset-1">Hey {{student.name}}! It looks like you might want to share this assisment with {{suggestShareFriend.name}}. Although sharing assignments is a pro-only feature, you can get it <a href="#/settings">here</a> for less then $1.25 with the coupon "friends".</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body" ng-show="homework.input" id="hwpreview">
                        <h3 id="homework_title">{{homework.title}}</h3>
                        <p ng-bind-html="homework.descHTML"></p>
                        <div class="col-xs-12">
                            <div class="dropdown" id="homework_due">
                                <a class="dropdown-toggle my-toggle-select" id="dLabel" role="button" data-toggle="dropdown" data-target="#">
                                    <div class="input-group">
                                        <input type="text" class="form-control action" data-ng-model="homework.dueDate">
                                        <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="homework.due_date" data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }"></datetimepicker>
                                </ul>
                            </div>
                        </div>
                        <label>Description</label>
                        <textarea class="form-control" ng-model="homework.description" ng-change="homework.updateDescription()"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div>
        <div>
            <div class="col-md-2 col-sm-3 col-offset-1 col-xs-12">
                <div class="hidden-xs">
                    <button type="button" class="btn btn-default col-xs-12" ng-click="reload()">
                        <i class="fa fa-refresh"></i> Refresh
                    </button>
                    <ul class="nav nav-pills nav-stacked text-center">
                        <hr>
                        <li role="presentation"><p class="bold">Show:</p></li>
                        <li class="action" ng-class="{active: (showIncomplete && showComplete)}" role="presentation">
                            <a ng-click="show('all')" role="menuitem" tabindex="-1">All</a>
                        </li>
                        <li class="action" ng-class="{active: (showIncomplete && !showComplete)}" role="presentation">
                            <a ng-click="show('incomplete')" role="menuitem" tabindex="-1">Incomplete</a>
                        </li>
                        <li class="action" ng-class="{active: (!showIncomplete && showComplete)}" role="presentation">
                            <a ng-click="show('complete')" role="menuitem" tabindex="-1">Complete</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-8 col-md-offset-1">
            <div ng-repeat="homework in student.homework" ng-show="(showComplete && homework.completed) || (showIncomplete && !homework.completed)" ng-class="{'complete': homework.completed}">
                <div ng-show="homework.loading">
                    loading
                </div>
                <div class="media" ng-hide="homework.deleted">
                    <div class="media-left">
                        <a class="action" ng-click="homework.complete()">
                            <i ng-show="homework.completed" class="fa fa-check-square-o fa-2x fa-fw"></i>
                            <i ng-hide="homework.completed" class="fa fa-square-o fa-2x fa-fw"></i>
                            <span class="sr-only">Toggle Complete</span>
                        </a>
                    </div>
                    <div class="media-body">
                        <div class="col-md-7" ng-click="homework.editing = true">
                            <div ng-hide="homework.editing">
                                <p class="bold">{{homework.title}}</p>
                                <p ng-bind-html="homework.descHTML"></p>
                            </div>
                            <div ng-show="homework.editing">
                                <input type="text" class="form-control" ng-model="homework.title">
                                <div class="panel-body">
                                    <label>Description</label>
                                    <textarea class="form-control" ng-model="homework.description" ng-change="homework.updateDescription()"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="pull-right">
                                <i class="fa fa-pencil fa-lg action" ng-click="homework.editing = true" ng-hide="homework.editing"></i>
                                <br>
                                <i class="fa fa-trash-o fa-lg action" ng-click="homework.delete()"></i>
                                <br>
                                <i class="fa fa-check fa-lg action" ng-click="homework.update()" ng-show="homework.editing"></i>
                            </div>
                            <br>
                            <br>
                            <div class="pull-right">
                                <p>Due: <strong>{{homework.dueDateWords()}}</strong></p>
                            </div>
                        </div>
                    </div>
                </div> 
                <p ng-show="homework.deleted">
                    Deleted <a ng-click="homework.recreate()" class="action">(recreate)</a>
                </p>
                <hr>
            </div>
        </div>
        </div>
    </div>
    
    <div ng-show="student.doneWithHomework && loaded" class="col-md-4 col-md-offset-4">
        <div class="panel panel-success">
            <h3 class="panel-heading">You are done!</h3>
            <div class="panel-body">
                <p>Great job, {{student.name}}! You finished all your homework here, now go do things and be awesome!</p>
            </div>
        </div>
    </div>
</div>