<section id="land">
    <div class="container">
        <div class="col-sm-offset-7 pad-50t col-xs-offset-3">
            <p class="textbackwhite lead">
                <strong>PlanHW</strong><br>
                Is Your New<br>
                Homework Planner<br>
                That {{people}} love.
            </p>
        </div>
        <div class="text-center">
            <i data-toggle="tooltip" data-placement="top" title="A video is coming soon!" class="pad-100t fa fa-play fa-5x pad-25t" id="play-button" ng-click="playVideo()"></i>
            <script>
            $(function () {
              $('[data-toggle="tooltip"]').tooltip()
            })
            </script>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h2 class="text-center">PlanHW is a better homework planner.</h2>
        <p class="text-center lead big">
            Because <strong>PlanHW</strong><br>
            Was Designed For<br>
            Students To Love.
        </p>
        <h3 class="col-md-offset-1 pad-100t">How?</h3>
        <div class="row">
            <h2 class="text-center col-xs-12">It Understands You</h2>
            <div class="row col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <p class="pull-right text-right lead feature center-text-xs">
                    <strong>What YOU type.</strong><br>
                    Exactly how you talk to a human,
                    PlanHW understands natural language -
                    so you can tell it about a homework
                    assignment without doing anything different.
                    Unless you speak spanish (<i>PlanHW no hablo español.</i>)
                </p>
                <form class="col-md-5 col-sm-6 col-xs-10 col-xs-offset-1 col-sm-offset-0">
                    <div class="panel panel-default center-text-xs">
                        <div class="panel-heading">
                            <input type="text" class="form-control" ng-model="homework.input" ng-change="homework = hwinput(homework.input)" placeholder="New Homework...">
                        </div>
                        <div class="panel-body" id="samplehwpreview">
                            <h3 id="homework_title">{{homework.title}}</h3>
                            <p ng-bind-html="marked(homework.description)"></p>
                            <div class="input-group">
                                <input type="text" class="form-control action" data-ng-model="homework.dueDate" disabled>
                                <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                            </div>      
                            <label>Description</label>
                            <textarea class="form-control" ng-model="homework.description"/>
                        </div>
                    </div>
                </form>
                <p><br><i class="fa fa-hand-o-left"></i> Try it out!</p>
            </div>
            <hr>
            <div class="row col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <p class="pull-left text-left lead feature center-text-xs">
                    <strong>What YOU do.</strong><br>
                    <i>Coming Soon:</i><br>
                    After telling PlanHW when you work on
                    homework, PlanHW learns how long
                    differnt assingments take <strong>you</strong> to do,
                    and sends you reminders with a list
                    of what you should do. Automaticly.
                </p>
                <div class="col-md-6 col-sm-6 col-xs-10 col-xs-offset-1 col-sm-offset-0">
                    <img src="img/emailed-reminder.png" width="100%">
                </div>
            </div>
            <hr>
            <div class="row col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <p class="pull-right text-right lead feature center-text-xs">
                    <strong>Assignments YOU get.</strong><br>
                    <i>Coming Soon:</i><br>
                    If you enter the same assignment alot, like
                    Math Packet due in 2 days, then PlanHW will
                    know that a Math Packet is due in two days.
                    You shouldn't have to say what your homework
                    planner should already know.
                </p>
                <div class="col-md-6 col-sm-6 col-xs-10 col-xs-offset-1 col-sm-offset-0">
                    <img src="img/example-homework.png" width="100%">
                </div>
            </div>
            <hr>
            <div class="row col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <p class="pull-left text-left lead feature center-text-xs">
                    <strong>That YOU have a life.</strong><br>
                    Sometimes entering homework turns passing time into homework-entering-and-then-rushing-to-the-next-class time. That's stupid, and instead of
                    making it harder to enter homework, we made it easier. You don't even need to take your hands off the keyboard.
                </p> 
                <div class="col-md-6 col-sm-6 col-xs-10 col-xs-offset-1">
                    <div class="panel panel-success">
                        <h3 class="panel-heading">You are done!</h3>
                        <div class="panel-body">
                            <p>Great job, Ben! You finished all your homework here, now go do things and be awesome!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h3>And it works: </h3>
        <div class="row">
            <div class="col-md-6 col-md-offset-3" id="quotes">
                <blockquote ng-repeat="quote in quotes track by $index" class="col-sm-6" ng-class="{'blockquote-reverse': $index%2 != 0}">
                    <p>{{quote.text}}</p>
                    <footer>{{quote.author}}</footer>
                </blockquote>
            </div>
        </div>
        <div class="pad-50t">
            <h2>
                <p class="text-center">So why not <a href="#/signup">sign up</a> today?</p>
            </h2>
        </div>
    </div>
</section>
<footer class="pad-50t home-footer">
	<div class="container">
        <div class="col-sm-4 col-xs-6">
            <p class="bold text-center">
                Resources:
            </p>
            <ul class="text-center list-unstyled">
                <li>
                    <a href="/docs">API</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4 col-xs-6">
            <p class="bold text-center">
                Contact:
            <ul class="list-unstyled text-center">
                <li>
                    <a href='mailto:hello@planhw.com?subject=Hey'><i class="fa fa-envelope fa-2x"></i></a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4 hidden-xs">
            <p class="pull-right">
                Made with <i class="fa fa-book"></i> by Ben <br>
                <span class="tabbed">from <a href='//bensites.com'>BenSites.com</a></span>
            </p>
        </div>
    </div>
</footer>