<section id="land">
    <div class="container">
        <div class="col-sm-offset-7 pad-50t col-xs-offset-3">
            <p class="textbackwhite lead">
                <strong>PlanHW</strong><br>
                Is Your New<br>
                Homework Planner<br>
                That {{people}} love.
            </p>
        </div>
        <div class="text-center">
            <i class="pad-100t fa fa-play fa-5x pad-25t" id="play-button" ng-click="playVideo()"></i>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h2 class="text-center">PlanHW is a better homework planner.</h2>
        <p class="text-center">
            Because <strong>PlanHW</strong><br>
            Was Designed For<br>
            Students To Love.
        </p>
        <h3 class="col-md-offset-1 pad-100t">How?</h3>
        <div class="row">
            <h2 class="text-center col-xs-12">It Understands You</h2>
            <div class="col-md-8 col-md-offset-2 text-center">
                <p class="col-md-6">
                    <strong>What YOU type.</strong><br>
                    Instead of having to learn special controlls, PlanHW understands what you type, and changes it to what you mean.
                    It's fast. It's simple. It's that smart.<br>
                </p>
                <p class="col-md-6">
                    <strong>What YOU do.</strong><br>
                    <i>Coming Soon:</i><br>
                    PlanHW learns your schedule automagically - and reminds you to do your homework - when you can do it best - not when it's due.
                </p>
            </div>
        </div>
        <div class="row">
            <h2 class="text-center col-xs-12">It's Simple.</h2>
            <div class="col-md-8 col-md-offset-2 text-center">
                <p class="col-md-6 col-md-offset-3">
                    <strong>Fast</strong><br>
                    Sometimes entering homework turns passing time into homework-entering-and-then-rushing-to-the-next-class time. That's stupid, and instead of
                    making it harder to enter homework, we made it easier. Type natural language, and we'll know what you mean.
                    <br>
                </p>
            </div>
        </div>
        <h3>And it works: </h3>
        <div class="row">
            <div class="col-md-6 col-md-offset-3" id="quotes">
                <blockquote ng-repeat="quote in quotes track by $index" class="col-sm-6" ng-class="{'blockquote-reverse': $index%2 != 0}">
                    <p>{{quote.text}}</p>
                    <footer>{{quote.author}}</footer>
                </blockquote>
            </div>
        </div>
        <div class="pad-50t">
            <h2>
                <p class="text-center">So why not <a href="#/signup">sign up</a> today?</p>
            </h2>
        </div>
    </div>
</section>
<footer class="pad-50t home-footer">
	<div class="container">
        <div class="col-sm-4 col-xs-6">
            <p class="bold text-center">
                Resources:
            </p>
            <ul class="text-center list-unstyled">
                <li>
                    <a href="/docs">API</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4 col-xs-6">
            <p class="bold text-center">
                Contact:
            <ul class="list-unstyled text-center">
                <li>
                    <a href='mailto:hello@planhw.com?subject=Hey'><i class="fa fa-envelope fa-2x"></i></a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4 hidden-xs">
            <p class="pull-right">
                Made with <i class="fa fa-book"></i> by Ben <br>
                <span class="tabbed">from <a href='//bensites.com'>BenSites.com</a></span>
            </p>
        </div>
    </div>
</footer>