<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 pad-50t">
            <div class="panel panel-default">
                <div class="media panel-body">
                    <div class="media-left">
                        <img ng-src="{{student.avatar(125)}}">
                        <a target="_blank" class="a-unstyled pull-right" href="//gravatar.com">
                            <i class="fa fa-pencil fa-fw"></i>
                        </a>
                    </div>
                    <div class="media-body">
                        <h1 class="media-heading text-center pad-40t">
                            {{student.username}}
                            
                        </h1>
                        <p class="text-center">
                            <i class="fa fa-pencil fa-fw action" ng-click="show('profile')"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2 col-md-offset-2">
                            <ul class="nav nav-pills nav-stacked text-center">
                                <li role="presentation" ng-class="{active: profile}">
                                    <a class="action" ng-click="show('profile')">Profile</a>
                                </li>
                                <li role="presentation" ng-class="{active: security}">
                                    <a class="action" ng-click="show('security')">Security</a>
                                </li>
                                <li role="presentation" ng-class="{active: showFriends}">
                                    <a class="action" ng-click="show('friends')">Friends</a>
                                </li>
                                <li role="presentation" ng-class="{active: pro}">
                                    <a class="action" ng-click="show('pro')">Pro</a>
                                </li>
                                <li role="presentation" ng-class="{active: schedule}">
                                    <a class="action" ng-click="show('schedule')">Schedule</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-8 col-sm-10" id="settings-main">
                            <form ng-submit="update(student)">
                                <div ng-if="profile">
                                    <h2 class="text-center">Info</h2>
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                                            <div class="input-group">
                                                <i class="input-group-addon fa fa-user fa-fw"></i>
                                                <input type="text" class="form-control" placeholder="Name" ng-model="student.name">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="security">
                                    <h2 class="text-center">Password</h2>
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-1">
                                            <div class="row">
                                                <div ng-class="{'col-sm-6': student.password}">
                                                    <div class="input-group">
                                                        <i class="input-group-addon fa fa-lock fa-fw"></i>
                                                        <input type="password" class="form-control" placeholder="New Password" ng-model="student.password">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6" ng-show="student.password">
                                                    <div class="input-group">
                                                        <i class="input-group-addon fa fa-unlock fa-fw"></i>
                                                        <input type="password" class="form-control" placeholder="Confirm" ng-model="student.password_confirm">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <h2 class="text-center">2-Step Authenication</h2>
                                    <div class="hidden-xs">
                                        <div ng-hide="qrURL">
                                            <p class="text-center col-md-10 col-md-offset-1">
                                                Use your phone/tablet for extra security by requiring a random code everytime you login.
                                            </p>
                                            <div class="row pad-10t">
                                                <button class="btn btn-info col-md-6 col-md-offset-3 col-xs-12" ng-click="show2step()">
                                                    Use 2-Step Authenication
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row pad-10t" ng-show="qrURL">
                                            <div class="col-md-10 col-md-offset-1">
                                                <img ng-src="{{qrURL}}" class="pull-left">
                                                <div class="pad-200l pad-10t" id="qr-talk">
                                                    <div class="popover right">
                                                        <div class="arrow"></div>
                                                        <p class="popover-content">
                                                            Scan me with Google Authenicator to generate One Time Passcodes.
                                                            You'll use them to login, adding an awesome extra layer of security!
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="visible-xs">
                                        <div ng-hide="qrURL">
                                            <p class="text-center col-md-10 col-md-offset-1">
                                                Enable 2 Step Authenication on your computer to start generating one time passcodes.
                                            </p>
                                        </div>
                                    </div>
                                    <hr>
                                    <p>
                                        <strong>Access Token</strong><br>
                                        Grants full access to your account for 30 days.<br>
                                        <a class="action" ng-click="showToken = true" ng-hide="showToken">Show</a>
                                        <code ng-show="showToken">{{student.token}}</code>
                                    </p>
                                </div>
                                <div ng-if="showFriends">
                                    <div class="row">
                                        <h2 class="text-center">Friends</h2>
                                        
                                        <div class="row">
                                            <div class="col-md-9">
                                                <select id="add-friend" placeholder="Add Friend" ng-model="friendID"></select>
                                            </div>
                                            <div class="col-md-3">
                                                <button class="btn btn-info" type="button" ng-click="friendRequest(friendID)">Add Friend</button>
                                            </div>
                                        </div>
                                        
                                        <div ng-repeat="friend in student.friends">
                                            <hr>
                                            <div class="pad-25l pad-25r">
                                                <img class="pull-left pad-25r" ng-src="{{friend.avatar(50)}}">
                                                <div class="pull-right">
                                                    <i class="fa fa-minus-square-o fa-2x action" ng-click="removeFriend(friend.id)"
                                                       data-toggle="tooltip" data-placement="bottom" title="Remove {{friend.name}}">
                                                    </i>
                                                    <i class="fa fa-times-circle-o fa-2x"
                                                       data-toggle="tooltip" data-placement="bottom" title="Block (prevents {{friend.name}} from sending friend requests)">
                                                    </i>
                                                </div>
                                                <p class="bold bigger text-center">{{friend.name}}</p>
                                                <p class="text-center">({{friend.username}})</p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="schedule">
                                    <div class="row">
                                        <h1 class="text-center row">Schedule</h1>
                                        <p class="text-right pad-50t col-sm-5 col-sm-offset-2">
                                            When do you work on homework?
                                        </p>
                                        <div class="col-sm-3 col-xs-4 pad-40t">
                                            <select ng-model="student.digestTime" class="form-control" name="Digest Time"
                                                    ng-options="time as time.human for time in digestTimes.local">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="pro">
                                    <div class="row">
                                        <h1 class="text-center row">Pro</h1>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                                                <h2>Pro Features</h2>
                                                <hr>
                                            </div>
                                            <div class="col-md-6 col-sm-8 col-sm-offset-2 col-md-offset-0">
                                                <h3 class="text-center">SMS Reminders:</h3>
                                                <hr>
                                                <p class="text-center">
                                                    Get reminders sent directly to your phone! A whole new level of <del>nagging</del> getting homework done!<br>
                                                    Oh! And now you can text PlanHW<span ng-show="student.pro"> at 855-980-PLAN</span>!
                                                    Your standard msg&amp;data rates may apply.
                                                </p>
                                                <div class="input-group" ng-show="student.pro">
                                                    <span class="input-group-addon"><i class="fa fa-mobile"></i></span>
                                                    <input type="tel" class="form-control" placeholder="Mobile Phone Number" ng-model="student.phone">
                                                </div>
                                                <div class="input-group" ng-show="student.pro">
                                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                                    <input class="form-control" placeholder="PIN (for PlanHW/Text)" ng-model="student.pin_code">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-8 col-sm-offset-2 col-md-offset-0">
                                                <h3 class="text-center">Habitica:</h3>
                                                <hr>
                                                <p class="text-center">
                                                    Habitica makes your life into a Role-Playing Game. Get points for completing homework in PlanHW.<br>
                                                    PlanHW needs your API Key in order to send you points. Find it in your <a href="https://habitica.com/#/options/settings/api" target="_blank">Habitica API settings</a>.
                                                </p>
                                                <div ng-show="student.pro">
                                                    <div class="input-group">
                                                        <i class="input-group-addon fa fa-user fa-fw"></i>
                                                        <input type="text" class="form-control" placeholder="User ID" ng-model="student.habitica.uuid" ng-disabled="{{!student.pro}}">
                                                    </div>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                                        <input type="tel" class="form-control" placeholder="API Key" ng-model="student.habitica.key" ng-disabled="{{!student.pro}}">
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-hide="pro && !student.pro">
                                    <hr>
                                    <div class="col-xs-2 col-xs-offset-5">
                                        <input type="submit" class="btn btn-success" value="Save">
                                    </div>
                                </div>
                            </form>
                            <div ng-show="pro">
                                <hr>
                                <h3 class="text-center">Get Pro</h3>
                                <p class="text-center col-sm-10 col-sm-offset-1 row" ng-hide="cvc && cc && expYear && expMonth">
                                    Get pro for only $2.50 a month and have access<br>
                                    to all the features on this page, and many more!
                                </p>
                                <div ng-hide="student.pro">
                                    <form>
                                        <div class="row" ng-hide=" paid || student.hasPaymentInfo">
                                            <div class="col-sm-8" ng-class="{'col-sm-offset-2': !cvc,
                                                                             'col-sm-6': cc && !cvc,
                                                                             'col-sm-4 col-sm-offset-1': cvc,
                                                                             'col-sm-8': !cc}">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-credit-card fa-fw"></i></span>
                                                    <input type="text" ng-model="cc" placeholder="Credit/Debit Card" class="form-control">
                                                </div>
                                            </div>
                                            <span class="col-sm-2">
                                                <input ng-show="cc" type="text" ng-model="cvc" placeholder="CVC" class="form-control">
                                            </span>
                                            <span class="col-sm-2" ng-show="cvc && cc">
                                                <input ng-model="expMonth" placeholder="MM" class="form-control" type="text">
                                            </span>
                                            <span class="col-sm-2" ng-show="cvc && cc">
                                                <input ng-model="expYear" placeholder="/YY" class="form-control" type="text">
                                            </span>
                                        </div>
                                        <div class="row pad-50t" ng-show="(cvc && cc && expYear && expMonth) || paid || student.hasPaymentInfo">
                                            <div class="col-sm-6 text-center">
                                                <p class="bold">Monthly</p>
                                                <hr>
                                                <p>$3/month</p>
                                                <p class="small">It's simple.</p>
                                                <button class="btn btn-info"
                                                        ng-click="getPro(cc,cvc,expMonth,expYear,'monthly',coupon)">
                                                    Subscribe
                                                </button>
                                            </div>
                                            <div class="col-sm-6 text-center borderleft">
                                                <p class="bold">Yearly</p>
                                                <hr>
                                                <p>$2.50/month</p>
                                                <p class="small">($30/year - 2 free months)</p>
                                                <button class="btn btn-success"
                                                        ng-click="getPro(cc,cvc,expMonth,expYear,'yearly',coupon)">
                                                    Subscribe
                                                </button>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="input-group col-sm-6 col-sm-offset-3" ng-show="showCoupon">
                                            <input type="text" ng-model="coupon" class="form-control" ng-blur="testCoupon(coupon)">
                                        </div>
                                        <p ng-bind="couponInfo" class="text-center"></p>
                                        <p class="text-center" ng-hide="showCoupon">Have a coupon? <a class="action" ng-click="showCoupon=true">Use it!</a></p>
                                    </form>
                                </div>
                                <div ng-show="student.pro">
                                    <p class="text-center col-sm-6 col-sm-offset-3">You already have pro! Awesome.</p>
                                    <button class="btn btn-danger col-sm-4 col-sm-offset-4" ng-click="getRidOfPro()">
                                        Cancel Pro Membership
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>