<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 pad-50t">
            <div class="panel panel-default">
                <div class="media panel-body">
                    <div class="media-left">
                        <img ng-src="{{student.avatar.size125}}">
                        <a target="_blank" class="a-unstyled pull-right" href="//gravatar.com">
                            <i class="fa fa-pencil fa-fw"></i>
                        </a>
                    </div>
                    <div class="media-body">
                        <h1 class="media-heading text-center pad-40t">
                            {{student.username}}
                            
                        </h1>
                        <p class="text-center">
                            <i class="fa fa-pencil fa-fw action" ng-click="show('profile')"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2 col-md-offset-2">
                            <ul class="nav nav-pills nav-stacked text-center">
                                <li role="presentation" ng-class="{active: profile}">
                                    <a class="action" ng-click="show('profile')">Profile</a>
                                </li>
                                <li role="presentation" ng-class="{active: security}">
                                    <a class="action" ng-click="show('security')">Security</a>
                                </li>
                                <li role="presentation" ng-class="{active: showFriends}">
                                    <a class="action" ng-click="show('friends')">Friends</a>
                                </li>
                                <li role="presentation" ng-class="{active: pro}">
                                    <a class="action" ng-click="show('pro')">Pro</a>
                                </li>
                                <li role="presentation" ng-class="{active: schedule}">
                                    <a class="action" ng-click="show('schedule')">Schedule</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-8 col-sm-10" id="settings-main">
                            <form ng-submit="update(student)">
                                <div ng-if="profile">
                                    <h2 class="text-center">Info</h2>
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                                            <div class="input-group">
                                                <i class="input-group-addon fa fa-at fa-fw"></i>
                                                <input type="text" class="form-control" placeholder="Username" ng-model="student.username">
                                            </div>
                                            <div class="input-group">
                                                <i class="input-group-addon fa fa-user fa-fw"></i>
                                                <input type="text" class="form-control" placeholder="Name" ng-model="student.name">
                                            </div>
                                            <div class="input-group">
                                                <i class="input-group-addon fa fa-envelope-o fa-fw"></i>
                                                <input type="text" class="form-control" placeholder="Email" ng-model="student.email">
                                            </div>
                                        </div>
                                    </div>
                                    <h2 class="text-center">Bio</h2>
                                    <p class="text-center col-sm-10 col-sm-offset-1">
                                        <span ng-bind-html="student.bio"></span>
                                        <span ng-hide="student.bio">
                                            Looks like you don't have a bio yet! Why not edit it on gravatar?
                                        </span>
                                        <a target="_blank" class="a-unstyled" href="//gravatar.com">
                                            <i class="fa fa-pencil fa-fw"></i>
                                        </a>
                                    </p>
                                </div>
                                <div ng-if="security">
                                    <h2 class="text-center">Password</h2>
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-1">
                                            <div class="row">
                                                <div ng-class="{'col-sm-6': student.password}">
                                                    <div class="input-group">
                                                        <i class="input-group-addon fa fa-lock fa-fw"></i>
                                                        <input type="password" class="form-control" placeholder="New Password" ng-model="student.password">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6" ng-show="student.password">
                                                    <div class="input-group">
                                                        <i class="input-group-addon fa fa-unlock fa-fw"></i>
                                                        <input type="password" class="form-control" placeholder="Confirm" ng-model="student.password_confirm">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <h2 class="text-center">2-Step Authenication</h2>
                                    <div ng-hide="qrURL">
                                        <p class="text-center col-md-10 col-md-offset-1">
                                            Use your phone/tablet for extra security by requiring a random code everytime you login.
                                        </p>
                                        <div class="row pad-10t">
                                            <button class="btn btn-info col-md-6 col-md-offset-3 col-xs-12" ng-click="show2step()">
                                                Use 2-Step Authenication
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row pad-10t" ng-show="qrURL">
                                        <div class="col-md-10 col-md-offset-1">
                                            <img ng-src="{{qrURL}}" class="pull-left">
                                            <div class="pad-200l pad-10t" id="qr-talk">
                                                <div class="popover right">
                                                    <div class="arrow"></div>
                                                    <p class="popover-content">
                                                        Scan me with Google Authenicator to generate One Time Passcodes.
                                                        You'll use them to login, adding an awesome extra layer of security!
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="showFriends">
                                    <div class="row">
                                        <h2 class="text-center">Friends</h2>
                                        
                                        <div class="row">
                                            <div class="col-md-9">
                                                <select id="add-friend" placeholder="Add Friend" ng-model="friendID"></select>
                                            </div>
                                            <div class="col-md-3">
                                                <button class="btn btn-info" type="button" ng-click="friendRequest(friendID)">Add Friend</button>
                                            </div>
                                        </div>
                                        
                                        <div ng-repeat="friend in student.friends">
                                            <hr>
                                            <div class="pad-25l pad-25r">
                                                <img class="pull-left pad-25r" ng-src="{{friend.student.avatar.size50}}">
                                                <div class="pull-right">
                                                    <i class="fa fa-minus-square-o fa-2x action" ng-click="removeFriend(friend.student.id)"
                                                       data-toggle="tooltip" data-placement="bottom" title="Remove {{friend.student.name}}">
                                                    </i>
                                                    <i class="fa fa-times-circle-o fa-2x"
                                                       data-toggle="tooltip" data-placement="bottom" title="Block (prevents {{friend.student.name}} from sending friend requests)">
                                                    </i>
                                                </div>
                                                <p class="bold bigger text-center">{{friend.student.name}}</p>
                                                <p class="text-center">({{friend.student.username}})</p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="pro">
                                    <div class="row">
                                        <p class="text-center pad-50t small">
                                            Want to get smart reminders and more features <sup>All Coming soon</sup>, while helping support PlanHW's development? Buy a Pro Plan for only $2.50 (paid annually at $30, normally $3/month)! 
                                        </p>
                                    </div>
                                </div>
                                <div ng-if="schedule">
                                    <div class="row">
                                        <p class="text-center pad-50t">
                                            We will be adding ways to automaticly schedule when homework is due based on when your class schedule.
                                            When we do, you'll be able to set your schedule here (until better systems are implimented). 
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <hr>
                                    <div class="col-xs-2 col-xs-offset-10">
                                        <input type="submit" class="btn btn-success" value="Save">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>